<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <div>
    <%= link_to "Create New User", new_user_path, class: "btn btn-primary" %>
  </div>
  <div>
    <h5>Import Users from CSV File </h5>
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import Users", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<hr>
<div class="d-flex justify-content-between">
    <%= link_to "Export into CSV", export_into_csv_path, class: "btn btn-success" %><br><br>
    <%= link_to "Download as CSV file", users_path(format: 'csv'), class: "btn btn-success" %>
</div>

<h1>Users</h1>
<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.N.</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address City</th>
        <th scope="col">Address State</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address_city %></td>
        <td><%= user.address_state %></td>
        <td><%= user.mobile_number %></td>
        <td><%= user.email %></td>
        <td><%= user.date_of_birth %></td>
        <td>
          <%= link_to "View", user_path(user), class:"btn btn-primary" %>
          <%= link_to "Edit", edit_user_path(user), class:"btn btn-warning" %>
          <%= link_to "Delete", user, class: "button",
              data: { turbo_method: :delete, turbo_confirm: "Really?!?" }, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
